body{
    margin: 0;
    font-weight: 400;
    font-family: "Schoolbell";
    font-size: 1.4em;
}

header{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid 1px rgb(231, 231, 231);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100%;
}

h1{
    padding: 0;
    margin: 0;
    font-size: 48px;
    text-align: center;
}

.logo{
    width: 120px;
}

.nav-link-wrapper{
    display: inline-block;
    margin: 0 30px;
}

.link-list{
    padding: 0;
}

.link-list a{
    text-decoration: none;
    color: black;
}

.link-list a:hover{
    text-decoration: underline;
}

.logo-wrapper, .social-wrapper{
    margin: 0 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-icon{
    width: 24px;
    margin: 0px 10px;
}

section{
    border-bottom: solid 1px rgb(231, 231, 231);
    padding: 10px 20px;
}

.hero{
    background-image: url(backg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 50vh;
}

.cat-hero{
    z-index: 0;
    position: absolute;
    right: 60px;
    bottom: -150px;
    height: 400px;
}

input{
    background: none;
    padding: 6px 10px;
    border-radius: 3px;
    border: solid 1px rgb(143, 143, 143);
    font-family: "Schoolbell";
    font-size: 0.8em;
}

input[type="submit"]{
    background-color: black;
    color: white;
    border: none;
}

.button-primary{
    background-color: black;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 3px;
    font-family: "Schoolbell";
    font-size: 0.8em;
}

.notice{
    text-align: center;
    padding: 2px 0;
    background-color: black;
    color: white;
}

.features{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 100px 0px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card{
    padding: 0px 20px;
    border-radius: 3px;
    padding-bottom: 20px;
    border: 1px solid rgb(231, 231, 231);
}

.video-section{
    background-image: url(backg.jpg);
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.video{
    border-radius: 20px;
    max-width: 95%;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 850px) {
    .cat-hero{
        display: none;
    }
    header{
        flex-direction: column;
    }
    .nav-link{
        display: block;
        margin: 0;
    }
}